%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand myself' do
        %i.fa.fa-book.fa-fw
    .collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav
        %li
          = link_to 'Info', '#'
        - if signed_in?
          %li.dropdown.add_book 
            = link_to '', { class: 'dropdown-toggle', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'true'} do
              Books
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to '' do
                  %i.fa.fa-book
                  Add Book
              %li
                = link_to '' do
                  %i.fa.fa-pencil
                  Add Author
              %li
                = link_to '' do
                  %i.fa.fa-tag
                  Add Category
          = bootstrap_form_tag url: search_books_path, html: { class: 'col-md-5 navbar-form form-search' }, method: :get do |f| 
            .input-group
              = f.search_field :search_term, hide_label: true, placeholder: 'Search for books here...'
              .input-group-btn
                %button(class="btn btn-primary" type="submit")
                  %i.glyphicon.glyphicon-search
        - unless signed_in?
          %li.active
            = link_to 'Register', register_path
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li.dropdown
            = link_to '', { class: 'dropdown-toggle', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' } do
              Welcome, #{current_user.name}
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to '' do
                  %i.fa.fa-user
                  Profile Account
              %li
                = link_to '' do
                  %i.fa.fa-user-plus
                  Edit profile
              %li.divider(role='separator')
              %li
                = link_to sign_out_path, method: :delete do
                  %i.fa.fa-arrow-circle-left
                  Sign out
        - else
          %li= link_to 'Welcome, Free Reader', sign_in_path
